### numpy array concatination and split
    np.concatinate((arr1,arr2),axis=0/1) 0 is default for column
    
    np.split()
    split hone ke bad output list me aata hain or splitted array list ke form me hota hai

In [1]:
import numpy as np

In [2]:
arr1=np.arange(1,17).reshape(4,4)
print(arr1)
arr1.ndim

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

2

In [3]:
arr2=np.arange(17,33).reshape(4,4)
print(arr2)
arr2.ndim

[[17 18 19 20]
 [21 22 23 24]
 [25 26 27 28]
 [29 30 31 32]]

2

### concatinate by columns

In [4]:
# testing using list
list1=[2,56,7,2]
list2=[45,56,2,7]
print(list1)
print(list2)
print(list1+list2)

[2, 56, 7, 2]
[45, 56, 2, 7]
[2, 56, 7, 2, 45, 56, 2, 7]

#### we can't concatinate using + operator bucuase it will sum the array and that we dint want

In [5]:
np.concatenate((arr1,arr2))

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32]])

In [6]:
print(arr1)
print()
print(arr2)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

[[17 18 19 20]
 [21 22 23 24]
 [25 26 27 28]
 [29 30 31 32]]

###### concatinate row wise
we just have to give the axis as 1, becuase 0 is column and it is default

In [7]:
np.concatenate((arr1,arr2),axis=1)

array([[ 1,  2,  3,  4, 17, 18, 19, 20],
       [ 5,  6,  7,  8, 21, 22, 23, 24],
       [ 9, 10, 11, 12, 25, 26, 27, 28],
       [13, 14, 15, 16, 29, 30, 31, 32]])

####  using another method
### using step function 
np.vstack((arr1,arr2))
np.hstack((arr1,arr2))

In [8]:
np.vstack((arr1,arr2)) #vertical, column wise

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32]])

In [9]:
np.hstack((arr1,arr2)) #horizontal row wise

array([[ 1,  2,  3,  4, 17, 18, 19, 20],
       [ 5,  6,  7,  8, 21, 22, 23, 24],
       [ 9, 10, 11, 12, 25, 26, 27, 28],
       [13, 14, 15, 16, 29, 30, 31, 32]])

In [10]:
arr3=np.arange(33,49).reshape(4,4)
print(arr3)

[[33 34 35 36]
 [37 38 39 40]
 [41 42 43 44]
 [45 46 47 48]]

###### concatinating 3 arrays

In [11]:
np.hstack((arr1,arr2,arr3))

array([[ 1,  2,  3,  4, 17, 18, 19, 20, 33, 34, 35, 36],
       [ 5,  6,  7,  8, 21, 22, 23, 24, 37, 38, 39, 40],
       [ 9, 10, 11, 12, 25, 26, 27, 28, 41, 42, 43, 44],
       [13, 14, 15, 16, 29, 30, 31, 32, 45, 46, 47, 48]])

In [12]:
np.vstack((arr1,arr2,arr3))

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32],
       [33, 34, 35, 36],
       [37, 38, 39, 40],
       [41, 42, 43, 44],
       [45, 46, 47, 48]])

###### splitting the arrays
np.split(arr1,format)
format must be integer
the output will be a list

In [13]:
arr1

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [14]:
out=np.split(arr1,2) # will create two arrays in a list
print(out)

[array([[1, 2, 3, 4],
       [5, 6, 7, 8]]), array([[ 9, 10, 11, 12],
       [13, 14, 15, 16]])]

In [15]:
type(out)

list

##### accessing array from list

In [16]:
out[0] # it will an array

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [17]:
type(out[0]) # it will be ndarray

numpy.ndarray

###### splitting the array row wise, we have to give the axis here

In [18]:
row_split=np.split(arr1,4,axis=1)
print(row_split)

[array([[ 1],
       [ 5],
       [ 9],
       [13]]), array([[ 2],
       [ 6],
       [10],
       [14]]), array([[ 3],
       [ 7],
       [11],
       [15]]), array([[ 4],
       [ 8],
       [12],
       [16]])]

In [19]:
type(row_split)

list

In [20]:
row_split[0]

array([[ 1],
       [ 5],
       [ 9],
       [13]])

In [21]:
type(row_split[0])

numpy.ndarray

###### splitting the 1d array into multid array

In [22]:
d1=np.array([5,11,52,33,14,59])
print(d1)

[ 5 11 52 33 14 59]

#### creating array using list slicing
ye ek list dega jiske index pe alg alg array hoga

In [23]:
muld=np.split(d1,[1,4,])
print(muld)

[array([5]), array([11, 52, 33]), array([14, 59])]

In [24]:
muld[0]

array([5])

In [25]:
type(muld[0])

numpy.ndarray

In [26]:
muld[1:]

[array([11, 52, 33]), array([14, 59])]

In [27]:
type(muld[1:])

list