## string operations , comparision and information

In [1]:
import numpy as np

In [2]:
ch="Harry The Coder "
str1="mohak is chutiya"

In [3]:
np.char.add(ch,str1) # it will create an array

array('Harry The Coder mohak is chutiya', dtype='<U32')

#### to lowercase

In [4]:
np.char.lower(ch)

array('harry the coder ', dtype='<U16')

##### to upper

In [5]:
np.char.upper(ch)

array('HARRY THE CODER ', dtype='<U16')

#####  cernter -> it will put the string into the center ->length
np.char.center(var, range,fillchar="*") -> between given range the val will be adjusted

In [6]:
ch

'Harry The Coder '

In [7]:
np.char.center(str1,40,fillchar="-")

array('------------mohak is chutiya------------', dtype='<U40')

In [8]:
np.char.center(ch,30,fillchar="-")

array('-------Harry The Coder -------', dtype='<U30')

### split
it will split the string words into as array elements

In [9]:
np.char.split(ch)

array(list(['Harry', 'The', 'Coder']), dtype=object)

##### splitlines
it will break the string from \n

In [10]:
np.char.splitlines("hello\nharry\nhow are you")

array(list(['hello', 'harry', 'how are you']), dtype=object)

##### join
np.char.join(["char"],[val])
to join all the character

In [11]:
st1="harry"
st2="kumar"

In [12]:
np.char.join([":","/"],[st1,st2])

array(['h:a:r:r:y', 'k/u/m/a/r'], dtype='<U9')

In [13]:
nm="python is very easy"
print(nm)
a=np.char.join(["**"],[nm])
print(a)

python is very easy
['p**y**t**h**o**n** **i**s** **v**e**r**y** **e**a**s**y']

##### replace

In [14]:
st="i am learning ML"
print(st)

i am learning ML

In [15]:
np.char.replace(st,"ML","machine learning") #it will return value in array

array('i am learning machine learning', dtype='<U30')

##### comparision

In [16]:
a="this is first string"
b="this is another string"

In [17]:
np.char.equal(a,b) #it will return true/false

array(False)

In [18]:
a='hk'
b='hk'
np.char.equal(a,b)

array(True)

##### information

In [19]:
a="this is first string and this is this and that is thi"
a

'this is first string and this is this and that is thi'

In [20]:
np.char.count(a,"this") #this will give that given string is how many time present in that string

array(3)

#####  to check in a string given word /char is present or not
it will give the index no of first occurance

In [21]:
a

'this is first string and this is this and that is thi'

In [22]:
np.char.find(a,"and")

array(21)

In [23]:
a

'this is first string and this is this and that is thi'

In [24]:
np.char.islower(a)

array(True)

In [25]:
np.char.isupper(a)

array(False)