# NumPy functions:

In [1]:
import numpy as np

# arange()
    it generates number betwwen given range

In [2]:
#np.arange(start,end,steps)
a=np.arange(1,13) #it will create oneD array from 1 to 12
print(a)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [3]:
a=np.arange(2,13,2) #it will create oneD array from 2 to 12 with step 2
print(a)

[ 2  4  6  8 10 12]

# linespace()
    it genrates n given number of same difference in given range

In [4]:
# np.linspace(start,end,part)#jitna part denge utna start se end ke bich me equal difference 
#ka no generate hoga, default datatype is float
a=np.linspace(2,10,50) #yha  2 se 10 ke bich me 50 no generate hoga with equal difference
print(a)

[ 2.          2.16326531  2.32653061  2.48979592  2.65306122  2.81632653
  2.97959184  3.14285714  3.30612245  3.46938776  3.63265306  3.79591837
  3.95918367  4.12244898  4.28571429  4.44897959  4.6122449   4.7755102
  4.93877551  5.10204082  5.26530612  5.42857143  5.59183673  5.75510204
  5.91836735  6.08163265  6.24489796  6.40816327  6.57142857  6.73469388
  6.89795918  7.06122449  7.2244898   7.3877551   7.55102041  7.71428571
  7.87755102  8.04081633  8.20408163  8.36734694  8.53061224  8.69387755
  8.85714286  9.02040816  9.18367347  9.34693878  9.51020408  9.67346939
  9.83673469 10.        ]

# reshape()
    it is used to convert  1d array to multidimensional array

In [5]:
arr_1D=np.array([1,2,3,4,5,6])
print(arr_1D)

[1 2 3 4 5 6]

converting this oneD array to 2d array

In [6]:
arr2D=arr_1D.reshape(2,3)
print(arr2D)

[[1 2 3]
 [4 5 6]]

converting this oneD array to 3d array

In [7]:
arr3D=arr_1D.reshape(2,3,1)
print(arr3D)

[[[1]
  [2]
  [3]]

 [[4]
  [5]
  [6]]]

# ravel()
    it is used to convert multidimensional array to 1d array

In [8]:
arr=arr3D.ravel()
print(arr)

[1 2 3 4 5 6]

# flatten()
    it is also used to convert multidimesnional array to oneD array|

In [9]:
arr1=arr2D.flatten()
print(arr1)

[1 2 3 4 5 6]

# transpose()
    it is used to convert row to column and column to row
    T can also be used for transpose

In [10]:
arr2D

array([[1, 2, 3],
       [4, 5, 6]])

In [11]:
arr2D.transpose()

array([[1, 4],
       [2, 5],
       [3, 6]])

In [12]:
arr3D.T

array([[[1, 4],
        [2, 5],
        [3, 6]]])