In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.0'

In [3]:
list_s=[1,2,5.6,'harry']
print(list_s)

[1, 2, 5.6, 'harry']

In [4]:
series1= pd.Series(list_s)
print(series1)

0        1
1        2
2      5.6
3    harry
dtype: object

In [5]:
type(series1)

pandas.core.series.Series

In [6]:
series2=pd.Series([1,2,43,6,'ok','this',6])
print(series2)
type(series2)

0       1
1       2
2      43
3       6
4      ok
5    this
6       6
dtype: object

pandas.core.series.Series

### creating empty series

In [7]:
empty_s=pd.Series([])
print(empty_s)
type(empty_s)

Series([], dtype: float64)

C:\Users\hario\AppData\Local\Temp/ipykernel_16296/400062453.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s=pd.Series([])

pandas.core.series.Series

In [8]:
series2

0       1
1       2
2      43
3       6
4      ok
5    this
6       6
dtype: object

#### manually index for the series
no of index must be equal to no of values

In [9]:
series2=pd.Series([1,2,43,6,'ok','this',6],index=["A","B","C","D","E","F","G"])
print(series2)
type(series2)

A       1
B       2
C      43
D       6
E      ok
F    this
G       6
dtype: object

pandas.core.series.Series

#### changing the dtype

In [10]:
series2=pd.Series([1,2,43,6],dtype=float)
print(series2)
type(series2)

0     1.0
1     2.0
2    43.0
3     6.0
dtype: float64

pandas.core.series.Series

#### name for the Series

In [11]:
series2=pd.Series([1,2,43,6],dtype=float,name="harry")
print(series2)
type(series2)

0     1.0
1     2.0
2    43.0
3     6.0
Name: harry, dtype: float64

pandas.core.series.Series

#### creating series using scalar values

In [14]:
scalar_s=pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

In [17]:
scalar_s=pd.Series(0.5,index=['a','b','c','d','e'])
print(scalar_s)

a    0.5
b    0.5
c    0.5
d    0.5
e    0.5
dtype: float64

##### series using dictionary

In [19]:
dict_s=pd.Series({"1":"my",'2':'name'})
print(dict_s)
type(dict_s)

1      my
2    name
dtype: object

pandas.core.series.Series

##### series using numpy array

In [21]:
s1=pd.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

###### accessing the series

In [22]:
s1[0]

1

##### slicing the series

In [23]:
s1[:2]

0    1
1    2
dtype: int64

### acessing series using condition

In [24]:
s1[s1>3]

3    4
4    5
dtype: int64

In [25]:
s1[s1<=3]

0    1
1    2
2    3
dtype: int64

   #### mathematical operations on Series

In [27]:
s2=pd.Series([6,7,8,8,2,3,4])
print(s2)

0    6
1    7
2    8
3    8
4    2
5    3
6    4
dtype: int64

In [28]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [29]:
s1+s2

0     7.0
1     9.0
2    11.0
3    12.0
4     7.0
5     NaN
6     NaN
dtype: float64

### nan means that both series have unequal data values

In [30]:
s1=pd.Series([1,3,4])
s2=pd.Series([8,3,8])
s1+s2

0     9
1     6
2    12
dtype: int64

In [32]:
s1=pd.Series([1,3,5,5,7,4])
s2=pd.Series([8,3,8])
s1+s2

0     9.0
1     6.0
2    13.0
3     NaN
4     NaN
5     NaN
dtype: float64