# creating pandas series and some operations

In [1]:
import pandas as pd

creating a series using list

In [2]:
lst=[1,2,4,6,'hello harry']
print(lst)

[1, 2, 4, 6, 'hello harry']

In [3]:
series_lst=pd.Series(lst) #its dtype will be an object
print(series_lst)

0              1
1              2
2              4
3              6
4    hello harry
dtype: object

creating series with dict

In [4]:
dict1={21:'harry',34:"mohak",38:"nitish",52:"ronik"}
print(dict1)

{21: 'harry', 34: 'mohak', 38: 'nitish', 52: 'ronik'}

In [5]:
series_dict=pd.Series(dict1) #its also dtype will be object
print(series_dict)

21     harry
34     mohak
38    nitish
52     ronik
dtype: object

creating series directly

In [6]:
series1=pd.Series([1,5,6,8,'harry'])
print(series1)

0        1
1        5
2        6
3        8
4    harry
dtype: object

giving name, changing index and performing arithmetic operations on series

In [7]:
series2=pd.Series([1,5,6,8],dtype=float)
print(series2)

0    1.0
1    5.0
2    6.0
3    8.0
dtype: float64

In [8]:
series3=pd.Series([1,5,6,8,'harry'],index=['a','b','c','d','e']) #no of index must be equal to no of series element
print(series3)

a        1
b        5
c        6
d        8
e    harry
dtype: object

creating scalar series

In [9]:
s=pd.Series(.5) # it will only have one element and type will be float
print(s)

0    0.5
dtype: float64

In [10]:
s1=pd.Series(.5,index=[1,2,3,4,5]) # it will only have element equal to no of index and all values will be same
print(s1)

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

adding two series of same no of data set

In [11]:
s4=pd.Series([1,2,3,4])
print(s4)
s5=pd.Series([5,8,3,7])
print(s5)

0    1
1    2
2    3
3    4
dtype: int64
0    5
1    8
2    3
3    7
dtype: int64

In [12]:
s4+s5
# it will add values as their respective index

0     6
1    10
2     6
3    11
dtype: int64

adding two series which have different no of data set

In [13]:
s4

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
s6=pd.Series([1,2])
print(s6)

0    1
1    2
dtype: int64

In [15]:
s4+s6
# it will give Nan at those places

0    2.0
1    4.0
2    NaN
3    NaN
dtype: float64

accessing series using index or slicing the series

In [16]:
s8=pd.Series([1,2,6,98,3,67,88,33])
print(s8)

0     1
1     2
2     6
3    98
4     3
5    67
6    88
7    33
dtype: int64

In [17]:
s8[0]

1

In [18]:
s8[2:]

2     6
3    98
4     3
5    67
6    88
7    33
dtype: int64

In [19]:
s8[:2]

0    1
1    2
dtype: int64