In [1]:
import pandas as pd

#### class pandas.DatetimeIndex(data=None, freq=<no_default>, tz=None, normalize=False, closed=None, ambiguous='raise', dayfirst=False, yearfirst=False, dtype=None, copy=False, name=None)[source]
Immutable ndarray-like of datetime64 data.

Represented internally as int64, and which can be boxed to Timestamp objects that are subclasses of datetime and carry metadata.

In [2]:
df=pd.read_csv('lec_24_ka_csv_file.csv')
df

         date       rd  market  profit
0  01-07-2019  5634678   87623    4356
1  02-07-2019   233446   23436    9883
2  03-07-2019  2345765   54832    5647
3  04-07-2019  3454476   34733    9752
4  05-07-2019  6776986   47226    5614
5  06-07-2019    23536   58352    7483
6  07-07-2019   777867   34734    5625
7  08-07-2019   346779   87976    2785
8  09-07-2019    34458   54676    6837
9  10-07-2019   232345   87436    4593

In [3]:
df.dtypes

date      object
rd         int64
market     int64
profit     int64
dtype: object

In [4]:
type(df.date[0])

str

In [5]:
df=pd.read_csv('lec_24_ka_csv_file.csv',parse_dates=['date'])
df

        date       rd  market  profit
0 2019-01-07  5634678   87623    4356
1 2019-02-07   233446   23436    9883
2 2019-03-07  2345765   54832    5647
3 2019-04-07  3454476   34733    9752
4 2019-05-07  6776986   47226    5614
5 2019-06-07    23536   58352    7483
6 2019-07-07   777867   34734    5625
7 2019-08-07   346779   87976    2785
8 2019-09-07    34458   54676    6837
9 2019-10-07   232345   87436    4593

In [6]:
df.dtypes

date      datetime64[ns]
rd                 int64
market             int64
profit             int64
dtype: object

In [7]:
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp