# Python Pandas DataFrame

In [1]:
import pandas as pd

creating empty DataFrame

In [2]:
emp_df=pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

creating DataFrame using list

In [3]:
lst=[1,2,56,'harry']
lst_df=pd.DataFrame(lst)
print(lst_df)

       0
0      1
1      2
2     56
3  harry

creating DataFrame using List of List

In [4]:
ls_of_ls=[[1,2,3],['harry','ntish','mohak']]
# elements must be same of all list otherwise it will through an error
ls_of_ls_df=pd.DataFrame(ls_of_ls)
print(ls_of_ls_df)

       0      1      2
0      1      2      3
1  harry  ntish  mohak

Creating DataFrame using dict

In [5]:
dict1={'id':[11,12,13]}
dict1_df=pd.DataFrame(dict1)
print(dict1_df)

   id
0  11
1  12
2  13

Creating DataFrame using dict of dict
values must be same for all the dict otherwise it will give error

In [6]:
dict2={'id':[11,12,13],"name":['mohak','harry','nitish'],'branch':['cse','me','ce']}
dict2_df=pd.DataFrame(dict2)
print(dict2_df)

   id    name branch
0  11   mohak    cse
1  12   harry     me
2  13  nitish     ce

creating DataFrame using list of dict
if values are not equal in list then it will put NaN at those places

In [7]:
ls_dict=[{'a':1,"b":2},{"sq":4,"cb":9},{"harry":21,"nitish":28,"mohak":34}]
ls_dict_df=pd.DataFrame(ls_dict)
print(ls_dict_df)
# mtlb yha keys title bn jayega and values uske niche

     a    b   sq   cb  harry  nitish  mohak
0  1.0  2.0  NaN  NaN    NaN     NaN    NaN
1  NaN  NaN  4.0  9.0    NaN     NaN    NaN
2  NaN  NaN  NaN  NaN   21.0    28.0   34.0

creating Dataframe using dict of series
if values are not equal in list then it will put NaN at those places

In [8]:
df_sr={'id':pd.Series([11,22,33]),'name':pd.Series(['nitish','ronik','harry','mohak'])}
df_sr_df=pd.DataFrame(df_sr)
print(df_sr_df)

     id    name
0  11.0  nitish
1  22.0   ronik
2  33.0   harry
3   NaN   mohak