# pandas groupby function

### this method is used to group the data on some given criteria

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('lec_16.csv')

In [3]:
df

,Student ID,class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [4]:
gr1=df.groupby(by='class')
gr1

In [5]:
gr1.groups

{10: [0, 1, 2], 11: [3, 4, 5], 12: [6, 7, 8, 9]}

In [6]:
a=df.groupby(['class','Percantege']).groups

In [7]:
# checking how many groups 
for percentage,df in gr1:
    print(percentage)
    print(df)

10
   Student ID   class  Study hrs   Sleeping hrs   Social Media usage hrs   \
0         1001     10           2              9                        3
1         1002     10           6              8                        2
2         1003     10           3              8                        2

   Mobile Games hrs   Percantege
0                  5          50
1                  0          80
2                  4          60
11
   Student ID   class  Study hrs   Sleeping hrs   Social Media usage hrs   \
3         1004     11           0             10                        1
4         1005     11           4              7                        2
5         1006     11          10              7                        0

   Mobile Games hrs   Percantege
3                  5          45
4                  0          75
5                  0          96
12
   Student ID   class  Study hrs   Sleeping hrs   Social Media usage hrs   \
6         1007     12           4              6                        0
7         1008     12          10              6                        2
8         1009     12           2              8                        2
9         1010     12           6              9                        1

   Mobile Games hrs   Percantege
6                  0          80
7                  0          90
8                  4          60
9                  0          85

In [8]:
df

,Student ID,class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [10]:
gr3=df.groupby('class').get_group(12)
gr3

,Student ID,class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [11]:
gr3=df.groupby('Study hrs').get_group('Percentage')
gr3

KeyError: 'Study hrs'