# handling missing values

isnull(), notnull()

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('lec_09.csv')
df

,student_ID,class,study,Sleeping hrs,social,Mobile Games hrs,percentege
0,1001,10.0,2,9,3.0,5,50
1,1002,10.0,6,8,2.0,0,80
2,1003,10.0,3,8,2.0,4,60
3,1004,11.0,no value,10,1.0,5,45
4,1005,11.0,4,7,NaN,0,75
5,1006,11.0,10,7,0.0,0,not available
6,1007,NaN,NaN,6,0.0,0,NaN
7,1008,12.0,10,6,2.0,0,90
8,1009,12.0,2,8,2.0,4,60
9,1010,12.0,6,9,1.0,0,85

isnull() -> it will give True at null values and False for data fields

In [3]:
df.isnull()

,student_ID,class,study,Sleeping hrs,social,Mobile Games hrs,percentege
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False
5,False,False,False,False,False,False,False
6,False,True,True,False,False,False,True
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False

to find how many null values are these column wise

In [4]:
df.isnull().sum()

student_ID           0
class                1
study                1
Sleeping hrs         0
social               1
Mobile Games hrs     0
percentege           1
dtype: int64

to find total no of null values in our df

In [5]:
df.isnull().sum().sum()

4

notnull()-> this is just opposite to isnull()

In [6]:
df

,student_ID,class,study,Sleeping hrs,social,Mobile Games hrs,percentege
0,1001,10.0,2,9,3.0,5,50
1,1002,10.0,6,8,2.0,0,80
2,1003,10.0,3,8,2.0,4,60
3,1004,11.0,no value,10,1.0,5,45
4,1005,11.0,4,7,NaN,0,75
5,1006,11.0,10,7,0.0,0,not available
6,1007,NaN,NaN,6,0.0,0,NaN
7,1008,12.0,10,6,2.0,0,90
8,1009,12.0,2,8,2.0,4,60
9,1010,12.0,6,9,1.0,0,85

In [7]:
df.notnull()

,student_ID,class,study,Sleeping hrs,social,Mobile Games hrs,percentege
0,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,False,True,True
5,True,True,True,True,True,True,True
6,True,False,False,True,True,True,False
7,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True

it will give True for data fields and False for nan fields

In [8]:
df.notnull().sum()

student_ID           10
class                 9
study                 9
Sleeping hrs         10
social                9
Mobile Games hrs     10
percentege            9
dtype: int64

In [9]:
df.notnull().sum().sum()

66

in case of series

In [10]:
s=pd.Series([1,2,3,np.nan,5,'harry',np.NAN])
s

0        1
1        2
2        3
3      NaN
4        5
5    harry
6      NaN
dtype: object

In [11]:
s.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [12]:
s.isnull().sum()

2

In [13]:
s.isnull().sum().sum()

2

In [14]:
s.notnull().sum()

5

In [15]:
s.notnull().sum().sum()

5

In [16]:
s.notnull()

0     True
1     True
2     True
3    False
4     True
5     True
6    False
dtype: bool